.hero {
  height: 110vh;
  position: relative; }
  .hero .shape-divider {
    width: 100%;
    position: absolute;
    bottom: -35px; }

#navbar {
  background-image: linear-gradient(to right, #4C1B72, #8B2FD2);
  border: 0 2px 5px #5032E9; }
  #navbar i.logo {
    align-content: center;
    color: #ff; }
  #navbar .navbar-brand {
    align-items: center; }

#hero {
  background-size: cover; }
  #hero__h1 {
    font-size: 2.4rem; }
  #hero .bold {
    font-family: Raleway;
    font-weight: bold;
    font-size: 2.5rem; }
  #hero img {
    background: linear-gradient(to right, #4C1B72, #8B2FD2); }
